<!-- Footer -->
<section id="footer">
  <div class="app-link row 50%">
    <div class="6u">
      <a class="disabled" href="{{ site.app_store_link }}">
        <img class="app-store-logo" src="{{ site.baseurl }}/images/app-store.png" />
      </a>
    </div>
    <div class="6u">
      <a href="{{ site.play_store_link }}">
        <img class="google-play-logo" src="{{ site.baseurl }}/images/google-play.png" />
      </a>
    </div>
  </div>

  <ul class="icons">
    <li><a href="{{ site.facebook_link }}" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="mailto:{{ site.email }}" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; 2015 Letterbox</li>
    <li><a href="{{ site.baseurl }}">Home</a></li>
    <li><a href="{{ site.baseurl }}/privacy">Privacy Policy</a></li>
    <li><a href="{{ site.baseurl }}/eula">EULA</a></li>
  </ul>
</section>

<!-- Scripts -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>
<script src="{{ site.baseurl }}/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.baseurl }}/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.baseurl }}/js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69523125-1', 'auto');
  ga('send', 'pageview');

</script>